extends base

block content
  section.hero
    .hero-content
      h1 Welcome to CourseLib
      p An educational platform for teachers and students
      if user
        a.btn(href=`/${user.role}/dashboard`) Go to Dashboard
      else
        .cta-buttons
          a.btn(href="/login") Login
          .spacer(style="width: 6rem")
          a.btn.btn-secondary(href="/register") Register

