extends layout

block content
  .container
    h1 Register
    form#registerForm
      .form-group
        label(for="email") Email
        input#email.form-control(type="email" name="email" required)
      .form-group
        label(for="password") Password
        input#password.form-control(type="password" name="password" required)
      .form-group
        label(for="role") Role
        select#role.form-control(name="role" required)
          option(value="student") Student
          option(value="teacher") Teacher
      // Teacher specific fields, initially hidden
      .form-group#teacherFields(style="display:none;")
        label(for="firstName") First Name
        input#firstName.form-control(type="text" name="firstName")
        label(for="lastName") Last Name
        input#lastName.form-control(type="text" name="lastName")
        label(for="discipline") Discipline
        input#discipline.form-control(type="text" name="discipline")

      // Student specific fields, initially hidden
      .form-group#studentFields(style="display:none;")
        label(for="firstNameStudent") First Name
        input#firstNameStudent.form-control(type="text" name="firstName")
        label(for="lastNameStudent") Last Name
        input#lastNameStudent.form-control(type="text" name="lastName")
        label(for="group") Group
        input#group.form-control(type="text" name="group")
      button.btn.btn-primary(type="submit") Register
    p
      | Already have an account?
      a(href="/login") Login here
  script(src="/js/auth.js")
