extends teacherDashboard_layout

block content
  .dashboard-header
    h1 Teacher Dashboard
    a.profile-btn(href="/profile") 
      i.fas.fa-user
      span My Profile
    a.logout-btn(href="/") Logout
  p Manage your courses here.
  a.btn.btn-primary(href='/teacher/createcourse') Create New Course
  hr
  if courses && courses.length
    ul#courseList
      each course in courses
        li(data-id=course._id)
          a(href=`/courses/${course._id}`) #{course.title || course.name || 'Untitled Course'}
  else
    p No courses yet. Add some!