extends layout

block content
  h1 Teacher Dashboard
  p Manage your courses here.
  a.btn.btn-primary(href='/teacher/createcourse') Create New Course
  hr
  if courses && courses.length
    ul#courseList
      each course in courses
        li(data-id=course._id)
          a(href=`/courses/${course._id}`) #{course.title || course.name || 'Untitled Course'}
  else
    p No courses yet. Add some!